.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-magentaNeon);
    padding: 16px;
}


.imgContainer {
    width: 50px;
}

.imgContainer img {
    width: 100%;
    height: auto;
}

.navBarItemsContainer {
    display: flex;
    gap:8px;
}

.navBarItemsContainer li {
    color: var(--color-white);
}